include includes/static.pug

doctype html
html.bg-spice-brown(lang='en')

  include includes/head.pug

  //- Navigation
  +navigation
    a.nav-link(href='#about') About
    a.nav-link(href='#correction') Add Link
    a.nav-link(href='/tutorial') Tutorial




  //- Page Content
  section#alert.bg-sage.text-center
    a.no-dec(href='/tutorial')
      .container.alert.alert-primary.bg-cannes-blue.no-border(role='alert')
        strong Hey! 
        |
        | Click here to learn how to search aflink from your browser address bar 
  section#search.bg-sage.text-center
    .container
      .form-outline
        input#search-form.form-control(type='search' placeholder='Start typing' aria-label='Search' autofocus='')
  section#list.bg-sage.text-center
    .container
      .offcenter
        h2 Link List
        em.d-none.d-md-block Synced #{date}
      div#link-list.list-group
        //- Links json is expanded here
        each category in links
          div.list-group
            //- Put a category here
            div.list-group-item.list-group-item-action.border-top.disabled.category #{category.name}
            //- Put each link in the category here
            each link in category.links
              a.list-group-item.list-group-item-action.border-top(href=link.link title=link.title) #{link.title}
      p.alert-dark(hidden) No results for 
        em
  section#about.bg-olive-drab.text-center
    .container
      h2 About
      p.lead
        | These links are mirrored from the USAF Quick Links page to be 
        | quickly and easily accessible from anywhere
  section#correction.bg-olive-drab.text-center
    .container
      h2 Request Link Addition
      p.lead
        | If you want to add a link, submit one through GitHub: 
        a(href='https://github.com/dadatuputi/aflink/blob/master/README.md')
          img(width='25' src=GHIcon)
  section#footer.bg-spice-brown.py-1.text-end
    em
      | Synced with AF portal #{date} 

  include includes/foot.pug

//- Transition Modal
div#exit-modal.modal(tabindex=-1 style="display: none")
  .modal-dialog 
    .modal-content
      .modal-header.vstack.gap-1
        .text-center.mx-auto
          span Going to #[strong.title]...
        .link.text-center
      .modal-body
        .progress
          .progress-bar.progress-bar-striped.progress-bar-animated(role=progressbar aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
          